# Python cache
__pycache__/
*.py[cod]
*.pyo

# Virtualenv
venv/
.venv/

# Logs
logs/
*.log

# Test & editor caches
.pytest_cache/
.vscode/
.idea/

# Grote data-bestanden
data/*.csv
data/

# Maar wél je sample-data (houd je echte sample-bestanden)
!data/sample-*.csv

# En wél historische data
!data/historical.csv